<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		<div class="post-preview">
			<h2 class="post-title">
				My Story
			</h2>
			<h4 class="post-subtitle">
				“I've met many people in Europe. <br>I've even met myself there“ <br>James Baldwin
                </h4>
				<p>My name is Catherine, With hindsight, I have noticed that with another culture, another country,
					other
					people, gastronomy is my point of reference or comparison. Through food, I can feel a sense of home
					and sense of community. Driven by a culinary curiosity, an
					interest in new tastes and original shapes my favourite go to place are the local markets and
					places, where i can discover special spices, local vegetables and
					fruits. Whenever I have the opportunity, I sneak in local kitchens to furtively check on and learn
					cooking techniques.
					You understand, I love people, travels and food. Like many of us!
					So I am happy to invite you to browse my pages, my recipes</p>
		</div>
		<hr>
		<div class="post-preview">
			<h2 class="post-title">
				Discover my 2 cooking techniques!
			</h2>
			<p>My first relationship with cooking was really from scratch, couple of ustensiles, good ingredients and
				off I was creating recipes.
				Then I got introduced to the Thermomix! it simplified my cooking in so many way but never hintered the
				quality of cooking. more on this on my Thermomix page</p>
		</div>
	</div>
</div>
{% endblock %}